@import "AllStyles"

.animals-list
    .bg
        height: 240px
        border-radius: 20px
        background-position: center
    .link
        color: #fff
        background-color: green
        border-radius: 20px
        text-align: center
        margin: 0 auto
        padding: 10px
    .link:hover
        text-decoration: none

.animals-gallery
    .bg
        display: flex
        flex-direction: row
        height: 250px
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        margin: 10px 0px
        border-radius: 20px
    