@import "AllStyles"

.contact
    textarea
        font-size: 16px
        width: 80%
        min-height: 250px
        display: block
        margin: 20px auto
        line-height: 1.4
    button
        display: block
        margin: 0 auto
        padding: $ButtonPadding
        background-color: $MainGreen
        border: none
        border-radius: $Radius
        text-transform: uppercase
        transition: 0.2s
        color: #fff
    button:hover
        background-color: $HoverGreen